@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: white;
}

::selection {
  background: rgb(168, 85, 247, 0.2);
}
.slick-dots.slick-dots-left {
  position: absolute;
  left: 0;
  top: 35%;
  transform: translateY(-50%);
  display: flex !important;
  flex-direction: column;
  gap: 35px;
}

.slick-dots.slick-dots-left li {
  margin: 0;
  width: 12px;
  height: 12px;
}

.slick-dots.slick-dots-left li button {
  width: 5px !important;
  height: 35px !important;
  border-radius: 20px !important;
  background: #d9d9d9 !important;
  border: none !important;
  padding: 3px !important;
}

.slick-dots.slick-dots-left li.slick-active button {
  background-color: #032E61 !important; /* Active dot color */
}
.slick-dots.slick-dots-left li button:before {
  display: none;
}
.react-tel-input .form-control {
  padding-left: 48px !important;
}
